body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form_div{
  margin:0;
  background-color: #f1f5ff;
  padding: 3%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.Form_banner{
  background-image: url('./assests/Img1.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 22%;
  padding-bottom: 22%;
  height: 100%;
  width: 100%;
}
.Grid{
width: 100%;
height: 100%;
justify-content:center ;
display: flex;
}
.Logo{
  height:12%;
  width:50%;
  object-fit: contain;
}
.Title{
  font-size: 56px;
  font-weight: 700;
}
.Sub_Title{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.Box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Forgot{
  float: right;
  text-decoration: none;
  color: #1B1B1B;
  font-size: 15px;
  font-weight: 400;
}
.Login_Button{
  border-radius: 8px;
  background-color: "#134EDF",
  }
.Toolbar{
  display: flex;
  justify-content: space-between;
}
.Main{
  display: flex;
  align-items: center;
}
.Heading{
  color:#1B1B1B;
  font-size: 20px;
  font-weight: 500;
}
.Logo_img{
  display:flex;
  justify-content: center;
  object-fit: contain;
  height: 100%;
  width:70% ;
}
.Button_Container{
  position: absolute;
  left: 40px;
  bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* border-style: solid;
  border-color: #3064E3; */
}
.Card{
  display: flex;
  gap: 15px;
  /* margin: 5px;
  flex-wrap: wrap; */
}
.Card_box{
  height: 100%;
  /* width: calc(50% - 15px); */
  /* padding: 10px; */
  width: 100%;
  /* border-radius: 20px; */
  /* padding-left: 5%;
  padding-right: 5%; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.Card_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
}
.Headline{
  font-size: 18px;
  font-weight: 500;
  color: #1B1B1B;
}
.Progress_Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.first_progress{
  display: flex;
  flex-direction: column;
  padding: 15;
  width: 47%;
}
.Linear_progress{
  display: flex;
  justify-content: space-between;
  width: 100%;
}







/* responsive start */
@media (max-width: 768px) {
  .Form_div{
   display: flex;
   flex-direction: column;
   height: 100vh;
  }
  .Form_banner{
     order: 2;
  }
  .Grid{
      order: 1;
    }
    .Title{
      font-size: 36px;
      font-weight: 700;
    }
    .Card{
      flex-wrap: wrap;
      gap: 2px;
    }
    .Card_box{
      width: 100%;
    }
    .Progress_Container{
      display: flex;
      flex-direction: column;
    }
    .first_progress{
      width: 100%;
    }
}